@import '../libs/icomoon/style.scss';
.stamplines {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  border: 1px solid #999;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  button {
    cursor: pointer;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
  }
  form {
    .form-group {
      label {
        margin-right: 8px;
      }
    }
  }
}
.sl-cursor {
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  &.flip-horizontal {
    transform: scaleX(-1.0);
  }
}
.sl-canvas,
.sl-dock {
  display: block;
}
.sl-canvas {
  cursor: crosshair;
}
.sl-dock {
  width: 100%;
  border-top: 1px solid #999;

  .sl-palette {
    line-height: 0;
    padding: 6px;
    + .sl-palette {
      border-top: 1px dotted #999;
    }
  }
}
.sl-palette-items {
  .sl-palette-item {
    display: inline-block;
    margin: 6px;
  }
}
.sl-palette-button {
  display: block;
  cursor: pointer;
  padding: 6px;
  border: 3px dashed transparent;
  border-radius: 6px;
  &:hover {
    border-color: #77F;
  }
}
.sl-palette-content {
  line-height: 1.0em;
  text-align: center;
  + .sl-palette-content {
    margin-top: 4px;
  }
}
.sl-palette-img {
  img {
    display: inline;
  }
  min-width: 25px;
  min-height: 25px;
}
.sl-palette-stamps {
  .sl-palette-img {
    height: 50px;
    line-height: 50px;
    img {
      display: inline;
      vertical-align: middle;
      max-height: 100%;
    }
  }
}
.sl-paper-dom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.sl-panel {
  position: absolute;
  min-height: 32px;
  width: 50%;
  padding: 8px 16px;
  background-color: #FFF;
  border: 3px solid black;
  border-radius: 6px;
  overflow: auto;
  > .panel-controls {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    button {
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
  }
  .panel-title {
    margin: 0px;
    margin-bottom: 0.3em;
  }
}
.sl-form {
  .form-buttons {
    margin-top: 6px;
    float: right;

    button {
      &:not(:first-of-type) {
        margin-left: 4px;
      }
    }
  }
}
