@import '../libs/icomoon/style.scss';
$border-color: #999;
.stamplines {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  border: 1px solid $border-color;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  button {
    cursor: pointer;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
  }
}
.sl-cursor {
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  &.flip-horizontal {
    transform: scaleX(-1.0);
  }
}
.sl-canvas,
.sl-dock {
  display: block;
}
.sl-canvas {
  cursor: crosshair;
}
.sl-dock {
  width: 100%;
  border-top: 1px solid $border-color;

  .sl-palette {
    line-height: 0;
    padding: 6px;
    + .sl-palette {
      border-top: 1px dotted $border-color;
    }
  }
}
.sl-palette-items {
  .sl-palette-item {
    display: inline-block;
    margin: 6px;
  }
}
.sl-palette-button {
  display: block;
  cursor: pointer;
  padding: 6px;
  border: 3px dashed transparent;
  border-radius: 6px;
  &:hover {
    border-color: #77F;
  }
}
.sl-palette-content {
  line-height: 1.0em;
  text-align: center;
  + .sl-palette-content {
    margin-top: 4px;
  }
}
.sl-palette-img {
  img {
    display: inline;
  }
  min-width: 25px;
  min-height: 25px;
}
.sl-palette-stamps {
  .sl-palette-img {
    height: 50px;
    line-height: 50px;
    img {
      display: inline;
      vertical-align: middle;
      max-height: 100%;
    }
  }
}
.sl-paper-dom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.sl-panel {
  position: absolute;
  min-height: 32px;
  width: 50%;
  padding: 8px 16px;
  background-color: #FFF;
  border: 3px solid black;
  border-radius: 6px;
  overflow: auto;
  > .panel-controls {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    button {
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
  }
  .panel-title {
    margin: 0px;
    margin-bottom: 0.3em;
  }
  .panel-header {
    padding-left: 4px;
    border-bottom: 1px solid $border-color;
  }
  .panel-content {
    padding: 8px 10px 4px;
    .sl-form {
      .form-footer {
        margin: 0px -8px;
        padding-top: 12px;
        border-top: 1px solid $border-color;
      }
    }
  }
}
.sl-form {
  .form-group {
    position: relative;
    margin-bottom: 6px;
    label {
      margin-right: 8px;
      vertical-align: top;
    }
    &.form-group-position {
      margin-top: 12px;
      &:not(.form-group-vertical) {
        margin-bottom: 8px;
        label {
          position: relative;
          top: 2px;
        }
      }
      &.form-group-vertical {
        label {
          display: block;
          margin-right: 0px;
        }
        .sl-position-input {
          margin-top: 8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .form-buttons {
    button {
      min-width: 78px;
      margin: 0px 6px;
    }
  }
  .form-content {
    padding: 2px 0px 6px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .form-footer {
    text-align: center;
    .form-buttons {
      margin-bottom: 0px;
    }
  }
}
.sl-position-input {
  position: relative;
  display: inline-block;
  .sl-position {
    position: absolute;
    margin: 0px;
  }
  .position-top,
  .position-center,
  .position-bottom {
    left: 50%;
    transform: translateX(-50%);
  }
  .position-left,
  .position-center,
  .position-right {
    top: 50%;
    transform: translateY(-50%);
  }
  .position-top {
    top: 0px;
  }
  .position-bottom {
    bottom: 0px;
  }
  .postion-left {
    left: 0px;
  }
  .position-right {
    right: 0px;
  }
  .position-center {
    transform: translate(-50%, -50%);
  }

  &.sl-position-5-way {
    width: 54px;
    height: 54px;
  }
  &.sl-position-2-way-vertical {
    height: 42px;
    width: 46px;
    .divider {
      position: absolute;
      display: block;
      top: 20px;
      left: 0px;
      right: 0px;
      height: 2px;
      background-color: #999;
    }
  }
}
.sl-stamp-panel,
.sl-line-panel {
  .sl-form {
    .form-group {
      &.input-item-label {
        float: left;
        margin-top: 1.2em;
      }
      &.input-item-label-position {
        float: right;
        margin-top: 0px;
      }
    }
    .form-content {
      padding-bottom: 4px;
    }
  }
}
